[2013-06-10 15:16] ifesdjeen opened #1 "Lein-outdated"
hi, noticed the project accidentally.
you know there's lein-outdated ( https://github.com/ato/lein-outdated )? works quite well i'd say

[2013-06-10 15:30] #1 closed, assigned to nobody

[2013-06-11 18:09] trevor opened #2 "new version indicated but not reported"
(@xsc - thanks for keeping development of this active!)

[code]

And this is a separate issue—but should reporting versions like "_-alpha_" as new be suppressed like "*-SNAPSHOT", or could be a command-line option?

[2013-06-11 18:35] #2 closed, assigned to nobody

[2013-06-11 20:41] robert-stuttaford opened #3 "I suck at Github so I'm using this Issue to say thanks for an awesome library!"

[2013-06-12 07:34] #3 closed, assigned to nobody

[2013-06-15 14:59] ToBeReplaced opened #4 "Support for repositories requiring credentials"
If I use a [s3-wagon-private](https://github.com/technomancy/s3-wagon-private) repository like:

[code]

lein-ancient fails, presumably because `retrieve-metadata!` crashes.  Support for this would be an excellent feature, though I'm not sure how it would be done.

[2013-06-21 16:29] zentrope opened #5 "local repo breaks plugin"
Howdy!

I've got the following in my project.clj:

[code]

pointing to a local repo with Oracle JDBC drivers in it. As a result, I get the following exception:

[code]

I know, I know: having a local repo isn't kosher. Completely ignoring this sort of thing would work for me. ;)

K

[2013-06-23 15:49] #5 closed, assigned to xsc

[2013-07-02 12:27] #4 closed, assigned to xsc

[2013-07-04 15:10] dball opened #6 "Error running lein ancient"
Hey, just ran across this project, I'm quite interested. Automatically resolving the dependency graph is one of the features I miss from bundler in ruby. Unfortunately, I get this error when I try it on a simple toy project:

[code]

[2013-07-04 17:31] #6 closed, assigned to xsc

[2013-07-10 22:28] firesofmay opened #7 "[Enhancement] Interactive mode where user can select/update if they want to update the libraries/plugins."
Hi,

It would be nice to have an interactive mode say:

[code]

That way the user can just run the lein ancient the first time and update the project all from the command line itself. The same would work for users plugins as well.

To keep things simple, it wont work with agressive mode (at least for now).

Thoughts?

[2013-07-26 03:22] podviaznikov opened #8 "is it possible to use lein-ancient as a library"
I'm having trouble using this plugin as a library in my own code.

I included `[lein-ancient "0.4.2"]` into dependencies and try to run some code from the tests in repl.

But failed to do that.

Getting exception `Exception in thread "main" java.lang.RuntimeException: java.io.FileNotFoundException: Could not locate clojure/instant__init.class or clojure/instant.clj on classpath:`.

I'm new to Cloj

[2013-07-26 13:23] xsc opened #9 "Upgrade "profiles.clj""
As discussed in #7, it would be nice to be able to upgrade the plugins contained in the file `~/.lein/profiles.clj`. Also, it's possible to create a "profiles.clj" in your project root (if I'm not mistaken) which would profit from this feature, too.

[2013-07-29 21:44] #8 closed, assigned to xsc

[2013-07-30 01:02] #7 closed, assigned to xsc

[2013-07-30 01:02] #9 closed, assigned to xsc

[2013-07-30 06:47] firesofmay opened #10 "lein ancient 0.4.3 is showing "Problem loading: Java heap space""
My profiles.clj

[code]

And lein version: (Mac OSX 10.8.4)

[code]

Here's the output:

[code]

[2013-07-30 07:17] #10 closed, assigned to xsc

[2013-08-01 10:52] xsc opened #11 "Regression Tests after Dependency Upgrade"
lein-ancient should handle the case where a newer version of an artifact causes incompatibilities in a project depending on it. The following are ways to either automatically ensure the stability/consistency of a project or to offer the possibility to revert a stable state.

See [here](http://dev.xscheme.de/2013/07/release-lein-ancient-0-4-3-automatically-upgrade-project-dependencies-and-plugins/#

[2013-08-07 12:57] xsc opened #12 "Improve CLI Consistency"
I'm not quite happy with the fact that the different lein-ancient tasks (`:get`, `:upgrade`) cannot be distinguished from the other command line parameters (`:interactive`, `:plugins`, ...). Future releases should thus adhere to a more conventional approach:

[code]

[2013-08-15 13:59] xsc opened #13 "Change Default Behaviour to 'upgrade'"
Since the main reason one would run lein-ancient is checking if there are dependencies that can be upgraded, I'd argue that upgrading a project (in combination with sane regression testing, see #11) should be lein-ancient's default behaviour. The classic check-only routine would then be put in a separate "check" task.

Thoughts?

[2013-08-15 19:59] pqnelson opened #14 "Yuicompressor throws an exception"
I just tried running `lein ancient :upgrade :interactive` in a project using `com.yahoo.platform/yui/yuicompressor`, and it threw an exception:

[code]

[2013-08-15 20:45] #14 closed, assigned to xsc

[2013-08-30 22:04] trevor opened #15 "enhancement requests - warnings for invalid options, and optional colons"
Suggesting that warnings are issued for unknown/invalid arguments. (Such as when I mistakenly put `:update` instead of `:upgrade`.)

Also it'd be nice if colons preceding the arguments were optional (`upgrade` and `:upgrade`). It seems the only reason to have colons is for familiarity for Clojure users.

[2013-09-03 07:39] clojens opened #16 "Work on templated project.clj files"
Hey xsc,

Thanks for the work you've done on `lein-ancient` I like to use it as much as I can and has made life on the version management level a lot easier so thumbs up. The new `:upgrade` has been something I long anticipated for as well so I'm a happy camper.

One thing I noticed today though, which probably would make for a nice feature expansion, is if it would be possible to process any `lei

[2013-09-03 10:35] #13 closed, assigned to xsc

[2013-09-25 11:22] #12 closed, assigned to xsc

[2013-09-25 11:22] #15 closed, assigned to xsc

[2013-09-28 10:18] #11 closed, assigned to xsc

[2013-10-23 19:31] trevor opened #18 "`lein ancient upgrade` gives "ERROR: could not create zipper" on keyword with number and 2 dots"
`lein ancient upgrade` doesn't like the `:1.5.0` and `:1.5.1` keywords in Midje's project file: https://github.com/marick/Midje/blob/master/project.clj

Works okay if something like `:1.5.0` is changed to `:a.5.0`

[code]

[2013-10-24 09:50] #18 closed, assigned to xsc

[2013-10-31 18:18] cch1 opened #19 "lein ancient profiles chokes on regexes"
My ~/.lein/profiles.clj uses regular expressions to apply auth credentials to repositories.  When processing several variants of regexs, "lein ancient profile" spits out:

ERROR: Could not read profiles map from file: #<File /Users/cch1/.lein/profiles.clj>
ERROR: Unsupported escape character: \/

This appears to reference my auth clause:

 :auth {:repository-auth {#"s3p:\/\/rk-maven" {:username :e

[2013-10-31 18:22] cch1 opened #20 "s3p repos not checked for new versions"
I use an s3p repo for many dependencies.  The documentation for lein ancient references the s3-wagon-private plugin, which I use (version "1.1.2").  Yet outdated dependencies are not signalled.  No errors are signalled, but clearly outdated dependencies are not noted.

[2013-11-05 08:27] #19 closed, assigned to xsc

[2013-11-05 08:27] #20 closed, assigned to xsc

[2013-11-12 15:58] guns opened #21 "No warnings on SSLException"
Hello,

`lein ancient` fails silently on SSLExceptions.

e.g.

[code]

Normally, `(slurp "https://domain-with-invalid-cert.com/")` raises an SSLException, so IMHO it would be appropriate to warn the user when slurping metadata fails due to SSL errors, as opposed to an HTTP 404.

Running with DEBUG=1 does give a clue:

[code]

But the only indication that a failure has occured is the absence of the

[2013-11-16 12:30] #21 closed, assigned to xsc

[2013-12-19 23:54] benwbooth opened #22 "Support read-eval macros in project.clj/profiles.clj"
I'm using some read-eval macros in my profiles.clj, e.g.:

[code]

lein ancient currently chokes on those:

[code]

Would it be possible to add support for read-eval macros to lein ancient (basically just ignore them)?

[2013-12-20 17:44] #22 closed, assigned to xsc

[2014-01-06 14:24] trevorbernard opened #23 "Support for Repositories with HTTP/HTTPS authentication"

[2014-01-12 01:36] #23 closed, assigned to xsc

[2014-01-30 01:24] trevor opened #24 "utf8 content gets munged in upgrade"
[code]

fascinating the things one can break when using utf8. :)

[2014-02-11 19:07] #24 closed, assigned to xsc

[2014-02-12 09:09] tsdh opened #25 "upgrade-profiles does nothing although profiles lists outdated"
Currently, with lein-ancient 0.5.4 I get:

[code]

But upgrade-profiles doesn't do anything:

[code]

I'd expect it to upgrade from lein-html5-docs 2.0.2 to 2.1.0.

This is my `~/.lein/profiles.clj`:

[code]

[2014-02-12 10:17] #25 closed, assigned to nobody

[2014-03-06 11:25] mpietrzak opened #26 "Windows cmd.exe and escape sequences"
Hello

lein-ancient does not detect what kind of terminal it's running in and prints "unix" escape sequences on Windows' cmd, as shown on attached screenshot:

![screnshot](https://f.cloud.github.com/assets/2089393/2344449/d8db708e-a521-11e3-95b3-d84cdc01074c.png)

Best Regards
mp

[2014-03-08 01:06] jaccarmac opened #27 "Simply does not work"
Given the snapshot build and a project file like this:

[code]

all `lein ancient` commands I try to run give no output. Those commands include:

[code]

[2014-03-09 19:57] ulsa opened #28 "Plugins prefixed with #_ cause problems"
Plugins prefixed with `#_` cause problems. Here is a sample `profiles.clj`:

[code]

I check the plugins and get a hit on lein-exec:

[code]

I upgrade the profiles:

[code]

It looks re-assuring, but in fact the wrong plugin was changed. Instead of lein-exec being upgraded from 0.3.1 to 0.3.2, lein-droid was upgraded from 0.2.2 to 0.3.2:

[code]

That version of lein-droid doesn't exist, so it br

[2014-03-10 08:55] #27 closed, assigned to xsc

[2014-03-16 10:09] #28 closed, assigned to xsc

[2014-03-21 08:06] #26 closed, assigned to xsc

[2014-03-21 08:37] ptaoussanis opened #29 "Awesome tagged releases!"
Hi Yannick, this isn't an issue, feel free to close - just wanted to say how nice your tagged releases are: https://github.com/xsc/lein-ancient/releases

I didn't even know GitHub offered that facility - this is the first time I've seen someone using it. Awesome stuff, thanks for putting in the effort :-)

That's it, cheers!

[2014-03-21 12:56] #29 closed, assigned to nobody

[2014-03-29 11:20] xsc opened #30 "Make 'test' the fallback regression test alias?"
If the `test-ancient` alias is not defined, should we fall back to `test`? It is after all the standard test alias, and I often find myself overriding it e.g. when using Midje. (A lot of people are used to `clojure.test` and they seem to always try that one first.)

This should only be a problem if the libraries needed for running tests are not available in the `:dev` profile since `lein test` wil

[2014-03-30 14:25] verma opened #31 "Not detecting new version of Clojure"
Not sure if I am doing this right, my project.clj refers to clojure as:

[code]

When I run `lein ancient latest org.clojure/clojure` I get this:

[code]

But when I do just `lein ancient` it doesn't detect that my clojure is out of date:

[code]

It did detect other outdated packages fine though (the command above was after I ran `:upgrade`)

[code]

`project.clj` for the project I am trying to a

[2014-03-30 15:35] #31 closed, assigned to nobody

[2014-05-16 08:33] xsc opened #33 "Don't follow symlinks when using ':recursive'"
Just to make sure cycles are avoided.

[2014-05-16 08:39] xsc opened #34 "Generate report at the end of a recursive upgrade."
If there are a lot of projects, it might help to have a concise list of those that actually had upgrades performed and those that failed to upgrade.

On a related note: just because one upgrade fails, the process should not stop processing the remaining projects.

[2014-06-09 21:58] #30 closed, assigned to xsc

[2014-06-09 22:12] #33 closed, assigned to xsc

[2014-08-13 22:26] johnwalker opened #37 "Upgrading when invalid version numbers are present in project map"
I wondered if it would be possible to upgrade dependencies when invalid or non-existent dependencies are specified.

Right now, this is the behavior when you add non-existent ones:

<pre>
:dependencies [[org.clojure/core.async "0.0.1"]]
</pre>

<pre>
(Could not find artifact org.clojure:core.async:jar:0.0.1 in central (https://repo1.maven.org/maven2/))
(Could not find artifact org.clojure:core.asy

[2014-08-19 07:16] #37 closed, assigned to xsc

[2014-09-08 20:37] ghost opened #38 "Leiningen environment variable"
When I run `lein ancient upgrade-profiles` it tries to upgrade C:\Users<USER NAME>\.lein\profiles.clj, although my LEIN_HOME variable points some where else. Would be great if lein-ancient would use that one as well.

[2014-09-15 08:27] #38 closed, assigned to xsc

[2014-09-20 02:14] greglook opened #39 "Profiles in profiles.d are not scanned"
As an alternative to a single `~/.lein/profiles.clj` file I have several profiles defined in `~/.lein/profiles.d/` such as `user.clj`, `system.clj`, etc. The plugin currently doesn't detect these, so running the `profiles` action doesn't do anything:

[code]

[2014-10-18 17:51] #34 closed, assigned to xsc

[2014-10-18 18:12] #16 closed, assigned to xsc

[2014-10-23 16:04] #39 closed, assigned to xsc

[2014-11-27 06:06] arrdem opened #40 "Failure updating inherited profiles"
[code]

`$ lein ancient upgrade-profiles` results in the following stacktrace:

[code]

[2014-12-06 12:17] #40 closed, assigned to xsc

[2014-12-08 23:53] nchurch opened #41 "ancient upgrade :interactive is updating the wrong dependencies in project.clj"
I tried upgrade :interactive like so on my project.clj:

[code]

For some of the dependencies it failed to update; for others it swapped version numbers.  Here are some results in the project.clj file:

[code]

The mangled project.clj is below:

[code]

[2014-12-24 07:56] arrdem opened #42 "data.priority-map"
Not sure if this is something that your latest snapshot is using directly or transitively, but if I have the dev snapshot in my `profiles.clj`, `lein new` fails due to a missing dep error.

[2014-12-24 18:09] #42 closed, assigned to nobody

[2015-01-12 20:57] cch1 opened #43 "Add support for private S3 repos using the lein-maven-s3-wagon"
After switching to the lein-maven-s3-wagon, we lost support for detecting out-of-date private dependencies in our projects

[2015-01-12 20:58] cch1 commented on #43
Output from `DEBUG=1 lein ancient`

[2015-01-12 21:02] cch1 commented on #43
Corresponding project.clj:

[code]

The `releases` repo is not apparently being searched for updated dependencies.

[2015-01-13 08:42] xsc commented on #43
@cch1 Thanks for this informative issue report! The "problem" is that lein-ancient expects the scheme `s3p://` for S3 repositories (as used by [s3-wagon-private](https://github.com/technomancy/s3-wagon-private)) while [lein-maven-s3-wagon](https://github.com/pjstadig/lein-maven-s3-wagon) expects `s3://`.

I'll have a look but it shouldn't be a problem to handle this.

[2015-01-13 11:12] xsc commented on #43
Can you try the latest SNAPSHOT?

[code]

It should now treat `s3://` repositories the same way as `s3p://`, as long as you have `:username` and `:password`/`:passphrase` in your `credentials.clj.gpg`.

[2015-01-13 14:43] cch1 commented on #43
The 0.6.0-SNAPSHOT does not seem to work.  Note that we keep our credentials in the environment and reference them (per leiningen) as
[code]

[2015-01-13 18:34] xsc commented on #43
Hm, I created a small test `project.clj`:

[code]

And added the following to `~/.lein/profiles.clj`:

[code]

I used the following call to run lein-ancient:

[code]

[2015-01-13 18:59] xsc commented on #41
This should be fixed. Can you try the latest SNAPSHOT?

[code]

[2015-01-13 19:02] cch1 commented on #43
Output from DEBUG=1 lein ancient
[code]
It seems that the problem is the three lines starting with `failure when checking com.roomkey/roomkey: java.lang.Exception: object's content-type is not XML (#{"text/xml" "application/xml"}): text/plain`  I'm not really sure how to interpret that message.

[2015-01-13 19:29] xsc commented on #43
The explanation is that lein-ancient fetches `maven-metadata.xml` from S3 and expects its content type to be `text/xml` or `application/xml`. Since it is not, it aborts.

The problem is, this seems like sane behaviour in my eyes - if an XML file is put into S3, its content type should be set to the respective value. I'd actually feel rather uncomfortable with dropping this precondition. Opinions?

[2015-01-13 19:51] cch1 commented on #43
I tend to agree that the problem is with the creation of the maven-metadata.xml file on s3 at the moment of deploying.

[2015-01-13 19:56] cch1 commented on #43
We have confirmed that the problem is the content-type -by "correcting" the content type on S3, now lein ancient correctly reports our private repos' dependencies.  I will raise an issue on the lein-maven-s3-wagon project.

[2015-01-13 20:03] cch1 commented on #43
Created issue with lein-maven-s3-wagon project: https://github.com/pjstadig/lein-maven-s3-wagon/issues/2

[2015-01-13 20:46] nchurch commented on #41
This worked great even with the duplicated dependency (I checked out the project as it was when this bug showed up).

(I had to use the :no-tests option as I only had the default testing, which has an intentionally failing test.  The error message from that btw was as follows:
running test task ["test"] ...
(error) tests have failed (use ':no-tests' to disable testing).
(error) #<NullPointerExcept

[2015-01-13 21:32] xsc commented on #41
The issue with tests should be fixed now. Thanks for noticing!

[2015-01-13 21:32] #41 closed

[2015-01-13 21:42] nchurch commented on #41
Thanks for fixing it!

On Tue, Jan 13, 2015 at 1:32 PM, Yannick Scherer <notifications@github.com>
wrote:

[2015-01-13 22:38] cch1 commented on #43
Issue raised on maven-s3-wagon: https://github.com/pjstadig/maven-s3-wagon/issues/1

[2015-01-15 14:15] xsc commented on #43
I assume this can be closed since the issue lies outside the scope of lein-ancient?

[2015-01-15 17:08] cch1 commented on #43
Yep.  pjstadig is working on the issue in the relevant s3 wagon.

[2015-01-16 11:07] #43 closed

[2015-01-20 09:30] kij opened #44 "NumberFormatException when checking some Artifacts"
Sorry for not catching this before 0.6.0  The 0.6.0-snaphot (pre chrismas) i was using worked as expected.

On this miminal project.clj, lein ancient 0.6.0 and (newer 0.6.0-snapshots) fails with
```(error) #<ExecutionException java.util.concurrent.ExecutionException: java.lang.NumberFormatException: For input string: "20141107165303">```

[code]

lein-ancient 0.5.5 returns
[code]

[2015-01-20 10:45] xsc commented on #44
No problem, that should generally be my job, I suppose. ;)

The thing is actually a bug in version-clj (and always should have been but maybe older versions of lein-ancient had more `try`/`catch` safeguards in place) which tries to parse e.g. this version:

[code]

and fails when running

[code]

[2015-01-20 12:19] xsc opened #45 "Running Tests does not apply the upgraded Dependencies"
[code]

Upgrade produced pandect 0.5.0, but tests fetched 0.4.1.

[2015-01-20 12:56] #44 closed

[2015-01-20 12:56] #45 closed

[2015-01-20 13:28] xsc commented on #44
While this is fixed now, a problem remains, namely that e.g. `1.0.1-1` is treated as a newer (release!) version than `1.0.1` since version-clj expects non-release versions to have at least one non-numeric component.

If the versions with timestamp in your repository are actually SNAPSHOTs, lein-ancient will (at least for now) not treat them correctly I'm afraid.

[2015-01-20 19:47] xsc commented on #44
Released in

[code]

[2015-02-08 10:24] d4gg4d opened #46 "Leiningen versioning incorrect"
Noticed that this plugin (`0.6.2`) doesn't work properly with Leiningen `2.2.0`, which is the lower bound for leinegen requirements in the documentation.

Works properly with Leinegen `2.5.0`.

Following error is produced when tried to run with Leinegen `2.2.0`
[code]

[2015-02-08 11:02] #46 closed

[2015-02-08 11:04] xsc commented on #46
That function is indeed only available since  technomancy/leiningen@1ffbb408dbab61a8c69aa05da04a9b31ffb998e8 which was first released in 2.4.0. I adjusted the docs and the `project.clj`.

Thank you, @d4gg4d!

[2015-02-08 11:06] d4gg4d commented on #46
np :)

[2015-02-10 23:41] devurandom opened #47 "Regression tests should not be run if no tests configured"
#11 and the associated commits add regression tests on upgrade, which is nice. However, Leiningen/Ancient also tries to run them if no tests are configured.

I suggest to just not try in this case, as otherwise one will run into this:
[code]

[2015-02-11 06:15] xsc commented on #47
I feel like this is more of a problem with `lein cljsbuild test` (which causes the above output if I'm not mistaken): if there are no tests the command should not fail - just like `lein test´ itself.

In my opinion, running the tests by default is sane behaviour. Maybe we should add some global flag that disables it, though?

[2015-02-11 08:26] devurandom commented on #47
Thanks for explaining this!

[2015-02-11 08:26] #47 closed

[2015-02-20 10:07] ducky427 opened #48 "Lein-ancient incompatible with latest cljfmt"
cc @weavejester

It seems that this plugin v0.6.2 is incompatible with [cljfmt](https://github.com/weavejester/cljfmt) as this uses [rewrite-clj](https://github.com/xsc/rewrite-clj) v0.4.11 whereas cljfmt uses v0.4.12 and there seems to some incompatibilites between the two version.

The latest version of rewrite-clj seems to be v0.4.12.

I don't get an error if I just use either of them individua

[2015-02-20 11:26] #48 closed

[2015-02-20 11:27] xsc commented on #48
Released in

[code]

[2015-02-20 13:52] ducky427 commented on #48
Thanks a lot!

[2015-03-02 14:40] ekimber opened #49 "lein ancient does not use the mirror configured in ~/.lein/profiles.clj"
I am using an organisation's internal mirror, configured in profiles.clj (it works much as described here: http://maven.apache.org/guides/mini/guide-mirror-settings.html)  However, ancient.clj is still trying to download artifacts from clojars.

[2015-03-04 22:19] xsc commented on #49
@ekimber Thanks for reporting - I can verify the issue.

I seem to have expected that Leiningen automatically merges `:repositories` and `:mirrors` which is not the case, as far as I can tell. I'll have a look and fix it.

[2015-03-04 22:48] #49 closed

[2015-03-04 22:48] xsc commented on #49
Can you try the latest SNAPSHOT?

[code]

[2015-03-05 11:32] ekimber commented on #49
Great!  That snapshot build fixes the issue I was seeing.

[2015-03-05 13:03] xsc commented on #49
Glad to hear. Released as

[code]

[2015-03-07 02:28] holgerabel opened #50 ""lein ancient" calls timing out behind VPN and Proxy connection"
Hi!  Today I upgraded from "lein-ancient 0.5.2" to "lein-ancient 0.6.4".  I'm doing my work behind a VPN into a corporate network and need a proxy to get past the firewall.  This makes connections to external "http" addresses slower.

With version 0.5.2, I could run "lein ancient ..." with this setup by just setting the "http_proxy" and "https_proxy" env variables to the right proxy values.  I was

[2015-03-08 18:34] xsc commented on #50
@holgerabel The latest SNAPSHOT offers a way to configure the timeout using a `http_timeout` environment variable. Setting it to `0` will cause a timeout of an hour, any other value represents the timeout in milliseconds. Can you check whether this works for you?

[code]

__Artifact Coordinates__

[code]

[2015-03-09 00:12] holgerabel commented on #50
Yannick,
Thank for getting back to me on a weekend.  I tried it out and the timeout is being pushed out as you indicate, but the connection isn't ultimately made.  I tried "http_timeout=0", "http_timeout=10000", etc..  I wanted to give you a new lead I have, and it is pointing to the "https_proxy" env variable not being processed correctly by lein-ancient.  To get to this conclusion, I reverted ba

[2015-03-09 00:34] holgerabel commented on #50
Hi Yannick
The issue of misunderstanding the "https_proxy" env variable seems to have been triggered in the transition from 0.5.5 to 0.6.0.  0.5.5 still works ok by setting "https_proxy", but on 0.6.0 the timeout already happens, and so does for the newer versions.  Hopefully this helps some more.

Best regards,
Holger

[2015-03-09 09:06] xsc commented on #50
@holgerabel Thanks for looking into this. It seems that `http-kit` (the library used for HTTP I/O) does not support proxies. Seems like it has to be replaced (.e.g by `clj-http`) or patched.

I'll let you know if there's some movement.

[2015-03-09 19:08] xsc commented on #50
@holgerabel The SNAPSHOT has been updated and initial experiments are promising. Could you try again? (Maybe you have to call `lein -U deps` to update the SNAPSHOT.)

[2015-03-09 19:38] holgerabel commented on #50
@xsc You did it!!  It works perfectly!  I owe you a beer for working on this so quickly :).  Thank you again!

[2015-03-09 21:06] xsc commented on #50
@holgerabel No problem, I'm glad the issues are resolved. :)

Released as

[code]

[2015-03-09 21:06] #50 closed

[2015-03-15 19:56] henriklundahl opened #51 "Exclude specific dependencies from being upgraded"
Make it possible to exclude specific dependencies from being upgraded.

[2015-03-17 20:49] xsc commented on #51
I'm not sure about this one. Where would you specify those dependencies? It'd probably have to be somewhere globally since lein-ancient is usually not included as a project-specific plugin - and does that make sense? Different projects might want to exclude different dependencies...

So, did you have a specific mechanism in mind?

[2015-03-18 07:39] henriklundahl commented on #51
My first thought was at the command line, but that would be quite clumsy.

Better would be to have an :ancient key in project.clj. The value could be a map with a :exclusions or :upgrade-exclusions key. Also other configuration like the :allow-qualified, :check-clojure and :no-tests could possibly be specified here.

Thanks for this very useful plugin, by the way.  :-)

[2015-04-14 04:08] ptaoussanis opened #52 "v6.5+: java.lang.Exception: response content-type is not XML"
Hi Yannick,

I'm running into a problem with lein-ancient 6.5+ (6.5 and 6.6). Running `lein ancient :all` at the command line produces:

[code]

This happens reliably on my end, so a little surprised no one else has reported this yet? Any ideas?

Thanks a lot! Cheers :-)

[2015-04-16 08:20] xsc commented on #52
Hi Peter,

do you have any `:mirrors` set up? Or are you behind a proxy?

Maybe it's some dependency conflict in the plugins - could you do `lein deps :plugin-tree` and paste the output?

Thanks!
Yannick

[2015-04-16 11:30] ptaoussanis commented on #52
Hi Yannick,

Not as far as I'm aware (not intentionally); how would I confirm?

No proxy. And have tried a few different connections with the same results: WiFi, 3G, landline - all different providers.

[encore](https://github.com/ptaoussanis/encore)'s output is:
[code]

Note that I get the same results with every project, even if I pull out all plugin dependencies besides `lein-ancient`. I.e. doe

[2015-04-16 17:25] xsc commented on #52
Hi Peter,

If neither your `profiles.clj` nor your `project.clj` contain the `:mirrors` key, none should be used. I assume that you'd have seen that key if it were used anywhere.

Maybe with Leiningen's own dependencies? Which version (of Leiningen) are your using?

Cheers! :)

---

__More thoughts:__

The major change between 0.6.4 and 0.6.5+ is switching from `http-kit`'s client to `clj-http` wh

[2015-04-17 04:28] ptaoussanis commented on #52
Okay, definitely no mirrors then.

That's it, you found the problem: **Lein 2.4.2 consistently produces the error, 2.5.1 works fine**.

I'm avoiding the latest Lein releases lately due to some unresolved bugs with them, so I'll just hold back on `lein-ancient` releases for a while.

May I ask what your motivation for the change was? Just curious.

Thanks again for your help with this! Feel free to

[2015-04-17 07:43] xsc commented on #52
There was an issue (#50) using http-kit's client and a proxy. Apparently, http-kit does neither use the system's proxy settings nor allow for manual specification of one.

Anyways, could you try the latest SNAPSHOT?

[code]

I think I managed to get the plugin compatible with Leiningen >= 2.4.0 again.

[2015-04-17 08:17] ptaoussanis commented on #52
Snapshot is working with lein 2.4.2

[2015-04-18 07:54] xsc commented on #52
[Release Notes](https://github.com/xsc/lein-ancient/releases/tag/clojars-0.6.7)

[2015-04-18 07:54] #52 closed

[2015-04-18 07:55] ptaoussanis commented on #52
Thanks Yannick, much appreciated! Cheers :-)

[2015-04-28 20:36] uvtc opened #53 "subtask help strings for "get" and "latest" should differ"
Output from `lein help ancient` says:

[code]

The help lines for the "get" and "latest" subtasks are identical, which I think is incorrect.

Also, maybe the one for `get` should mention "human-readable", whereas the one for `latest` might note, "suitable for inclusion in project.clj" or similar.

[2015-04-29 07:38] #53 closed

[2015-04-29 07:39] xsc commented on #53
Thanks for noticing! It would now read as follows:

[code]

What do you think?

[2015-04-29 14:38] uvtc commented on #53
The new subtask description looks good.

As an aside, the subtask names throw me a bit (except the last one). "get" makes it sound like the subtask is going to get (fetch, download) the artifacts (which, I realize, makes no sense). As far as I understand, lein-ancient does essentially three things: it checks, shows, and upgrades. So, I think the subtask names would be more consistent as:

    chec

[2015-04-29 15:00] uvtc opened #54 "Make subtask names more consistent"
The subtask names throw me a bit (except the last one).

    check
    profiles
    get
    latest
    upgrade
    upgrade-profiles

For one thing, "get" makes it sound like the subtask is going to get (fetch, download) the artifacts (which, I realize, makes no sense).

As far as I understand, lein-ancient does essentially three things: it checks, shows, and upgrades. So, I think the subtask names

[2015-04-30 13:32] xsc commented on #54
I agree with `check-profiles`, `show-versions` and `show-latest` - `check` (which isn't used explicitly anyways, I'm assuming) and `upgrade` don't seem that confusing to me. Of course, I have to maintain backwards compatibility, so these would be some gradual changes over the next few versions.

[2015-04-30 15:53] uvtc commented on #54
Sounds good.

[2015-05-20 12:15] donbonifacio opened #55 "Error code when deps are outdated"
Is there a way to return an error status code? I want my build to fail if deps are outdated. With the basic usage I get an ok status code.

[code]

[2015-05-21 19:50] xsc commented on #55
I think it should be reasonable to return a non-zero status code there.

[2015-06-18 15:48] bbatsov opened #56 "Isolate runtime deps"
lein-ancient's dependencies might interfere with a project's own dependencies. It'd best to isolate its runtime dependencies using a tool like https://github.com/benedekfazekas/mranderson or https://github.com/jafingerhut/dolly

[2015-06-18 16:27] xsc commented on #56
Those look interesting. I'll have a look.
Thanks!

[2015-06-18 17:00] bbatsov commented on #56
Btw, here's the PR that got this integrated into `cider-nrepl` https://github.com/clojure-emacs/cider-nrepl/pull/183

Might be useful as well.

[2015-07-08 02:13] bendlas commented on #51
I have a practical use case for such an exclusion mechanism:

[webnf](https://github.com/webnf/webnf/blob/master/project.clj) is a general purpose module/dependency collection, which I maintain with the help of [lein-modules](https://github.com/jcrossley3/lein-modules). This allows to centrally specify the version of common dependencies (or overrides), and use `"_"` as the dependency version in mo

[2015-07-27 16:49] brunchboy opened #57 "Fails when project includes a local repository"
I have a project, [afterglow-max](https://github.com/brunchboy/afterglow-max), which needs to embed a local repo because it has to build against a “provided” artifact for which no public repository exists, and I am not comfortable publishing one without securing permission from the vendor first. I try could do that, I suppose, but it would be nice if `lein-ancient` could work in this scenario too.

[2015-07-30 17:17] xsc commented on #57
@brunchboy Thanks for reporting this. Could you try the latest SNAPSHOT?

[code]

[2015-07-30 19:52] brunchboy commented on #57
That appears to work great. Thanks!

[2015-07-31 13:52] #57 closed

[2015-08-03 17:13] xsc commented on #51
I have a suggestion - how about allowing a `:upgrade?` key directly in the dependency vector?

[code]

As far as I can see, Leiningen does not complain and this would keep the information directly where it belongs.

[2015-08-03 17:58] #55 closed

[2015-08-03 18:00] xsc commented on #55
@donbonifacio Sorry for the delay! Could you try the latest SNAPSHOT?

[code]

[2015-08-04 07:38] donbonifacio commented on #55
[code]

Workin' :)
Thanks.

[2015-08-04 10:24] #54 closed

[2015-08-04 14:34] uvtc commented on #54
Nice. Thanks!

[2015-08-04 17:38] xsc commented on #54
@uvtc Yeah, sorry for the delay!

[2015-08-12 14:46] brunchboy opened #58 "New warning with Leiningen 2.5.2"
Since upgrading Leiningen to 2.5.2, running `lein ancient` gives me the following:

[code]

[2015-09-01 13:17] rsslldnphy commented on #51
Would this proposed solution also work for simply checking dependencies rather than upgrading them? I'd like to add `lein ancient` to our travis builds and have them fail if there are any out of date packages, but for some libraries we actually need the non-latest version, so would like to add these as exclusions.

[2015-09-01 13:57] xsc commented on #51
You can try the current snapshot (`0.6.8-SNAPSHOT`) - it should already behave exactly like you describe.

[2015-09-01 14:30] rsslldnphy commented on #51
Ace, thank you @xsc!

[2015-09-01 15:01] henriklundahl commented on #51
I somehow missed the comment with the suggestion. I think this will be fine. Thanks!

[2015-09-05 14:10] belucid opened #61 "lein-ancient doesn't handle composite profiles"
Composite profiles ([described here](https://github.com/technomancy/leiningen/blob/master/doc/PROFILES.md#composite-profiles)) are not handled by lein-ancient. Any profile that is a composite has its dependencies and plugins skipped.

I'm happy to take the stab at fixing this, but I wanted you to possibly weigh in on how you wanted it fixed since we can go in 2 directions.

1) One possible fix is

[2015-09-08 14:20] shmish111 commented on #51
I just came across this.  I want to use lein-ancient to check public dependencies but I also want to use it separately to automatically upgrade our private dependencies.  Upgrading public ones needs to be done manually so we would only use check, private deps will be done by jenkins.  If this `:upgrade? false` mechanism is used, will `lein ancient check` still show the old deps?

[2015-09-08 14:40] shmish111 commented on #51
Also, I've realised what would be really useful is to only upgrade SNAPSHOT dependencies, can I open a new issue for this?  Does it make sense?

[2015-09-09 02:20] Immortalin opened #62 "Error when checking snacktory"
Hi, I am getting this error when I try to utilize the [snacktory](https://github.com/karussell/snacktory) [repository](https://github.com/karussell/mvnrepo).

[code]

[2015-09-09 16:07] xsc commented on #61
@belucid True, that doesn't get handled well. I think the fix belongs somewhere into [this abomination of a function](https://github.com/xsc/lein-ancient/blob/e26ed97e014286ae1ee2c0e3df2651618fddf4da/src/leiningen/ancient/artifact/check.clj#L23-L56) (which is very much in need of refactoring).

It takes a map of `{:dependencies ..., :plugins ..., :profiles ...}` and spits out a seq of `{:path ...,

[2015-09-09 16:14] xsc commented on #51
@shmish111 Good point! Maybe `:upgrade?` should not be a boolean value and rather a keyword/string (or seq?) representing partitions of dependencies, e.g.:

[code]

Then we could add command line options like `:only` or `:except` where you pass those values, e.g.:

[code]

Thoughts?

(Also, having `false` as a value there should still prevent checks/upgrades, I guess. And SNAPSHOTs might be implic

[2015-09-09 16:22] xsc commented on #62
@Immortalin The problem is that the `maven-metadata.xml` does not have an XML content type set:

[code]

I think it is sane behaviour to expect that a Maven repository serves its files with appropriate HTTP headers - but I can see how this is a problem in this case... Maybe you could use something like RawGit to point to the repository?

[code]

[2015-09-09 16:24] belucid commented on #61
That is a lovely function :smile: !

I'll take a crack at it and let you know where I get with it.

[2015-09-10 08:21] shmish111 commented on #51
That would be awesome.
On 9 Sep 2015 18:14, "Yannick Scherer" <notifications@github.com> wrote:

[2015-09-12 11:49] Immortalin commented on #62
Thank you

[2015-09-12 11:49] #62 closed

[2015-09-24 08:10] danielcompton opened #64 "Support S3-wagon-private"
When running `lein ancient` 0.6.0 or higher in a project that is using [S3-wagon-private](https://github.com/technomancy/s3-wagon-private), I get the following errors:

[code]

It looks like it is trying to access the repo with bad authentication credentials. The S3 wagon needs `:username` and `:passphrase`, not `:password` like you might expect. My suspicion is that lein-ancient is trying to use

[2015-09-24 10:15] xsc commented on #64
lein-ancient uses [ancient-clj](https://github.com/xsc/ancient-clj) for retrieving available versions, and that should handle `:username`/`:passphrase` and `:username`/`:password` correctly. So, debugging should probably start at:

[code]

Since it didn't say `InvalidAccessKeyId` or `SignatureDoesNotMatch`, I'm inclined to believe that the credentials are passed correctly. So, maybe an issue with

[2015-09-24 18:59] ChrisPickard opened #65 "lein-ancient doesn't handle alpha releases"
I have a dependencies vector that looks like
`  :dependencies [[org.clojure/clojure "1.7.0-alpha1"]
                 [org.clojure/clojurescript "0.0-2311"]
                 [org.clojure/core.async "0.1.338.0-5c5012-alpha"]]
`

and while it upgrades the clojurescript vector correctly, it doesn't upgrade the clojure vector to the stable version

[2015-09-25 08:19] xsc commented on #65
It's not that lein-ancient doesn't handle alpha releases, but that it ignores the Clojure (and soon ClojureScript - feel free to weigh in at #63) artifact by default. You can have it checked by adding the `:check-clojure` flag to the command line.

[2015-09-26 11:29] #65 closed

[2015-09-26 12:40] #61 closed

[2015-09-26 12:46] xsc commented on #61
Could you try out the latest SNAPSHOT?

[code]

[2015-09-26 14:02] belucid commented on #61
I tried the snapshot. Given a project file like this (the numbers are labels so we can talk about each spot):

[code]
I created out of date dependencies and plugins in each spot and out of date plugins in each spot were found. That's great!

Here are the results:

0.6.7
lein ancient :allow-qualified - finds 1, 3, 5
lein ancient :allow-qualified :plugins - finds 2, 4, 6

0.6.8-SNAPSHOT
lein ancient

[2015-09-26 14:15] belucid opened #66 "lein-ancient 0.6.8-SNAPSHOT doesn't play well with lein do, AKA find dependencies and plugins at the same time"
This is great:

[code]

And this is too:

[code]

But what I'd really like is 1 command that will find out of date dependencies and plugins. It's unfortunate that you can't do both with 1 command (as far as I can tell), and maybe you should be able to. So that's one issue.

A separate but somewhat related issue, is that it seems our possible work around, `lein do`, doesn't work with lein-ancient 0

[2015-09-26 14:17] belucid commented on #61
Found regression #66 while testing the 0.6.8-SNAPSHOT.

[2015-09-26 14:25] belucid commented on #66
FWIW, if I put it in an alias, it seems to work OK.

Such as:

[code]

[2015-09-26 15:06] xsc commented on #66
Regarding checks on all the things (see `lein help ancient check` & co.):

[code]

Regarding the problems with `lein do`, I thinks this is a side-effect of #55 - lein-ancient produces a non-zero error code when it finds outdated stuff, probably prompting `lein do` to abort. (I feel that might actually be useful behaviour, since it allows calls that only run if dependencies are up-to-date. Probably

[2015-09-26 15:17] belucid commented on #66
Y... I can see why you might want the non-zero error code. That makes sense.

Thanks for `:all`. Didn't notice that was an option.

[2015-09-26 15:18] #66 closed

[2015-11-02 11:56] xsc commented on #64
Any news on this?

[2015-11-02 12:53] xsc commented on #51
This is released in:

[code]

You can now specify `:upgrade false` in the artifact vector to exclude an artifact, as well as e.g. `:upgrade :crypto` and `lein ancient :only crypto` for selective checks/upgrades.

[2015-11-02 12:53] #51 closed

[2015-11-02 15:00] henriklundahl commented on #51
Great, thanks!

[2015-11-13 06:38] danielcompton commented on #64
Sorry, I've been on paternity leave, will checkin when I'm back on board :)

[2015-11-13 16:03] conan commented on #58
Yeah I see this too.

[2015-11-14 00:48] gigafone commented on #58
+1

[2015-11-14 12:56] xsc commented on #58
Just for clarification, in case the link to technomancy/leiningen#1959 wasn't enough: this problem comes from a conflict between Clojure 1.7.0 / clj-http 0.9.2 (which both are pinned dependencies in Leiningen) and has to be fixed in Leiningen itself.

[2015-11-14 20:12] brunchboy commented on #58
Thanks, @xsc, that was how I interpreted the link, but I figured it would make sense to leave this issue open so people can see that fact, rather than opening a series of new issues until Leiningen gets fixed.

[2015-11-14 21:03] xsc commented on #58
Sure, and I completely agree - I just tried to direct the `+1`s towards Leiningen. ;)

[2015-11-14 21:09] gigafone commented on #58
/me just did a +1 over at https://github.com/technomancy/leiningen/issues/1959

[2015-11-18 12:34] JonyEpsilon opened #67 "Upgrade fails with ClassCastException"
Running `lein ancient` 0.5.5 on [Gorilla REPL](https://github.com/JonyEpsilon/gorilla-repl/blob/75e6435d08366428acadf725b86b7e1c8220cd4e/project.clj) works well, highlighting many outdated dependencies. But `lein ancient upgrade` fails with an exception:
[code]

[2015-11-18 12:36] JonyEpsilon commented on #67
[code]

MacOS X 10.11.1

[2015-11-20 13:44] xsc commented on #67
The exception seems to be caused by the `^:replace` metadata in that `project.clj` (and it still exists in 0.6.8). Thanks for reporting it!

[2015-11-22 17:51] ccfontes opened #68 "ancient looks for higher versions, not more recent deploys"
`lein-ancient` looks for higher versions of jars specified in `project.clj`. I think maybe it should look for more recent deploys instead. The following example ilustrates my reasoning:

[code]
Version `1.0.0` is actually much older than `0.7.8`. Probably this was due to some mistake, but mistakes do happen, and can't be easily erased in the case of clojars.

[2015-12-06 02:46] jasonjckn commented on #58
+1

[2015-12-15 23:59] cch1 commented on #52
We ran into this problem after an older s3 wagon polluted our company repo with artifacts with the wrong content type.  Beware.

[2016-01-05 15:46] edbond opened #69 "Doesn't advice clojurescript 0.0-2371 -> 1.7.170"
I have old project with
[code]
lein ancient tells "nothing to upgrade".

[2016-01-05 16:07] xsc commented on #69
@edbond Could you add the version of lein-ancient you're using? Version 0.6.8 treats ClojureScript like Clojure, requiring the `:check-clojure` command line flag for it to be checked, so can you try:

[code]

[2016-01-05 16:16] edbond commented on #69
Yes, the version is latest :check-clojure does help, thanks.
Why this option is not enabled by default?

[code]

[2016-01-05 16:33] xsc commented on #69
Well, IMO, at least upgrading Clojure(Script) should be a conscious effort but maybe it does not make sense to exclude it from the check output (maybe with a hint towards `:check-clojure`). Thoughts?

[2016-01-05 16:37] edbond commented on #69
Yes, I think it may be listed in other section (with notice that such artifacts not auto-upgraded) or with different color? and not upgrade automatically by upgrade command.

[2016-01-06 16:34] rahulmutt opened #70 "Proxy authentication settings"
How can I set my proxy settings so that lein-ancient can connect to the internet properly? I'm receiving a status code 407 from those.

[2016-01-06 16:37] xsc commented on #70
You should be able to set the `http_proxy`/`https_proxy` environment variables to point at your proxy.

[2016-01-06 16:39] rahulmutt commented on #70
Both are set properly. lein itself is working fine, but lein ancient isn't.

[2016-01-06 16:48] xsc commented on #70
When I last checked, clj-http (the HTTP client used by lein-ancient) advertised support for proxies and proxy authentication based on environment/properties, but there is at least one issue (dakrone/clj-http#225) indicating that that is not completely true.

A workaround could probably be added in lein-ancient but I'm not perfectly comfortable with that.

Also, for completeness' sake: What Java/Le

[2016-01-06 17:15] rahulmutt commented on #70
Leiningen 2.5.2 on Java 1.8.0_76 OpenJDK 64-Bit Server VM

[2016-02-05 09:01] xsc commented on #58
Leiningen 2.6.0 has been released, including a bump to clj-http which should get rid of that warning.

[2016-02-05 09:01] #58 closed

[2016-02-05 12:45] xsc commented on #64
Closing for now, feel free to reopen once there is more information.

[2016-02-05 12:51] xsc commented on #68
@ccfontes Thanks for the report but changing this behaviour will break handling of other artifacts (e.g. those that push `1.x` patches while there already is a `2.x` line of releases).

For now, I'd (grudgingly) advise on using `:upgrade? false´ in the artifact vector to get rid of the warning - in the long run functionality could be added to only upgrade minor/patch numbers if desired.

[2016-02-05 12:51] #68 closed

[2016-02-05 15:56] brunchboy commented on #58
Great, thanks! I’ve just pushed an update to Homebrew so their users will be getting this version soon.

[2016-03-24 22:52] aiba opened #71 "Cannot create loader from scp"
I use an "scp://..." repository as described in https://github.com/technomancy/leiningen/blob/master/doc/DEPLOY.md#scp

Using lein ancient with this, yields an error:

[code]

Can we change this to a warning so lein anceint still basically runs (and maybe skips the scp repos)?  As is, I need to comment out this line in project.clj before running ancient.

[2016-03-25 18:50] xsc commented on #71
Good point, this is not the most user-friendly behaviour. Can you try the SNAPSHOT?

[code]

If the behaviour is now okay for you I'll cut a release. :)

[2016-03-25 20:04] #69 closed

[2016-03-25 20:08] xsc commented on #69
@edbond Can you try the latest SNAPSHOT? It now always displays outdated Clojure/ClojureScript dependencies but will neither include them when calculating lein-ancient's exit code nor automatically upgrade them.

[code]

Example Output:

[code]

[2016-03-25 20:22] edbond commented on #69
Works for me, more helpful output, thanks!

[code]

[2016-03-25 20:56] #67 closed

[2016-03-25 20:58] xsc commented on #67
@JonyEpsilon Can you try the latest SNAPSHOT?

[code]

[2016-03-25 20:58] #71 closed

[2016-03-25 21:11] JonyEpsilon commented on #67
That fixes the error for me. `lein ancient upgrade` now completes successfully. Thanks :-)

[2016-03-26 19:03] aiba commented on #71
Beautiful, working great with `0.6.9-SNAPSHOT`.  I like the warning rather than fatal error.  Thank you!

[2016-03-26 20:48] aiba commented on #56
I think I'm running into this issue.

With `:pedantic? :abort` and plugins that include both `[lein-ancient "0.6.9-SNAPSHOT"]` and `[lein-figwheel "0.5.2"]`, I get the error:

[code]

My workaround is to put into `~/.lein/profiles.clj`:

[code]

And run ancient with `lein with-profile +ancient ancient`.

This also has the side benefit of not loading `lein-ancient`'s deps when doing normal developm

[2016-03-27 10:52] xsc commented on #71
Released as:

[code]

[Release Notes](https://github.com/xsc/lein-ancient/releases/tag/clojars-0.6.9)

[2016-03-27 10:52] xsc commented on #69
Released as:

[code]

[&raquo; Release Notes](https://github.com/xsc/lein-ancient/releases/tag/clojars-0.6.9)

[2016-03-27 10:52] xsc commented on #67
Released as:

[code]

[&raquo; Release Notes](https://github.com/xsc/lein-ancient/releases/tag/clojars-0.6.9)

[2016-03-28 14:58] pdlug opened #72 "Stack trace ("Pushback buffer overflow") w/ lein-figwheel > 0.5.0-6"
I'm getting a stacktrace when I upgrade the lein-figwheel plugin in my project to any version greater than "0.5.0-6" (tested with 0.5.1 and 0.5.2). This occurs with lein-ancient version 0.6.8 and 0.6.9, I did not test older versions.

Snippet from my `project.clj`

[code]

Output of `lein ancient :all`:

[code]

After upgrading the lein-figwheel plugin to 0.5.2 and running `lein ancient :all` agai

[2016-03-28 15:12] xsc commented on #72
Feels like a dependency conflict, most likely `org.clojure/tools.reader`. Can you try including lein-figwheel via

[code]

and then run lein-ancient again? (Note that I'd expect your CLJS compilation to not work with that setup, so it's really just for confirmation.)

[2016-03-28 15:35] pdlug commented on #72
Yes it runs without a stack trace with that exclusion.

[2016-03-28 15:45] xsc commented on #72
This is an incompatibility between lein-ancient and tools.reader but the latter is only available as an alpha version. So, I can't really see this fixed before tools.reader's 1.0.0 release since I'm not comfortable with including unstable dependencies... :(

I'll still investigate whether there is something in the way I call into tools.reader that can be adjusted.

[2016-03-28 16:08] lvh commented on #72
I have the same thing, but with lein-cljfmt instead of lein-figwheel. Stable release definitely sounds like a useful thing for tools.reader to do :)

[2016-03-29 17:05] lvh commented on #72
Would #56 accidentally resolve this?

[2016-03-29 17:17] xsc commented on #72
@lvh It should, right? IIRC, last time I tried to tackle that issue (using mranderson) building the JAR failed to finish within a reasonable amount of time, though...

[2016-04-01 22:58] aiba commented on #72
I have the same issue with figwheel and Pushback buffer overflow.  My workaround is to put ancient into its own profile, i.e.:

`~/.lein/profiles.clj`:
[code]

Then to run ancient, I type `lein with-profile +ancient ancient`.

I guess this causes lein to use ancient's version of tools.reader rather than figwheel's, though I couldn't tell you why.

It's interesting that when running ancient, we don

[2016-04-02 11:23] xsc commented on #72
Could you try the latest SNAPSHOT?

[code]

It uses [mranderson](https://github.com/benedekfazekas/mranderson) to isolate the following dependencies:

- `rewrite-clj`
- `potemkin`
- `clojure.tools.reader`

Now I just need to get the tests passing again.

[2016-04-02 17:16] aiba commented on #72
Sweet!  0.6.10-SNAPSHOT is working great with all my projects.  No more need for above workaround.  Nice work!

[2016-04-02 18:59] xsc commented on #72
@aiba I think I now isolated all Clojure dependencies. Can you try again (same SNAPSHOT)?

Also, regarding the failing builds:
- TravisCI uses Leiningen 2.5.1 which mranderson 0.4.7 is incompatible with,
- mranderson 0.4.6, while compatible with Leiningen 2.5.1, won't work on 2.6.x.

And I can't manage to upgrade the Leiningen version on TravisCI since that seems to only be possible after `lein ve

[2016-04-02 19:46] aiba commented on #72
The new snapshot works on a hello-world project with both ancient and figwheel plugins.  However, when I run it on my real project (that I work on for my job), I get this stacktrace https://gist.github.com/aiba/b76bfd3e0c44dcc6d454480366117231

I'm still working on creating a minimal project.clj that reproduces the error, but wanted to report my result thus far.

[2016-04-02 19:56] aiba commented on #72
OK I have a way to reproduce this.  When you have `~/.lein/profiles.clj`:

[code]

And an empty `project.clj`:
[code]

Then the error is thrown upon running `lein ancient`.

Funny enough, adding figwheel causes the exception to no longer be thrown.

[code]

[2016-04-02 20:04] xsc commented on #72
@aiba I seem to have been overly eager when "cleaning up" some dependencies., removing `joda-time` completely from the tree. Can you try again?

[2016-04-02 20:09] aiba commented on #72
Yep, seems to work now and on all the projects I could throw at it!  Thank you so much for this major improvement.  As far as I'm concerned, we can close this issue.

[2016-04-02 20:11] #56 closed

[2016-04-02 20:11] #72 closed

[2016-04-02 20:19] xsc commented on #72
[Release Notes](https://github.com/xsc/lein-ancient/releases/tag/clojars-0.6.10)

Thanks @aiba for all the feedback and patience!

[2016-04-02 20:19] xsc commented on #56
Dependency isolation has landed in 0.6.10.

[Release Notes](https://github.com/xsc/lein-ancient/releases/tag/clojars-0.6.10)

[2016-04-02 20:49] lvh commented on #72
Whoa; that was quick :) Can confirm that this works for me :) Thanks @xsc and @aiba!

[2016-04-25 20:37] lvh opened #73 "Automatically"
This is a pie-in-the-sky wishlist feature, and I don't expect you to do anything about it, but...

Let's say I have a major project with tons of dependencies that haven't gotten updated recently. Easily 2 dozen deps have new versions. Most of them boring minor bumps, some of them less minor. Automatedly updating them can sometimes work but obviously you run into interdependencies.

I do this inter

[2016-04-25 20:37] lvh commented on #73
Oops; sorry for the terrible title; forgot to edit that.

[2016-04-26 07:42] xsc commented on #73
I can't say anything about effort necessary, but this would be a nice addition to the interactive upgrade mode - instead of just `yes`/`no` I could imagine there being options like `changelog`/`commits`/ `web`.

Definitely an interesting idea!

[2016-05-16 16:24] kanwei opened #74 "alpha version checking"
[org.webjars.bower/bootstrap "4.0.0-alpha.2"] is available but we use "3.3.6"

even without :allow-qualified

[2016-08-02 23:40] danielcompton opened #75 "Don't warn on RELEASE or SNAPSHOT versions"
RELEASE and SNAPSHOT versions automatically use the latest released or snapshot version respectively. I think lein-ancient shouldn't warn about RELEASE or SNAPSHOT versions.

[2016-08-17 19:25] timgilbert commented on #64
Just as a note, using the s3-wagon-private alternative [lein-essthree](https://github.com/dparis/lein-essthree) in a project causes `lein ancient` to fail out with an error:

[code]

It would be nice if `lein ancient` had an option to only check maven-central and clojars so it could just skip over my private repositories (personally, I mainly use it to check for updates to open-source stuff).

[2016-08-21 20:53] danielcompton commented on #64
Just an update on this, with s3-wagon-private, it seems like this is now working fine with lein-ancient  0.6.10. Thanks!

[2016-08-22 07:59] xsc commented on #64
@danielcompton Thanks for the update!

@timgilbert You could use the [dependency marker mechanism](https://github.com/xsc/lein-ancient#exclusionselection-of-artifacts) to exclude dependencies from automatic upgrades:

[code]

Or with an actual marker:

[code]

Then you can use `:only` and `:exclude` to configure checking/upgrade, e.g.:

[code]

Of course, this needs introduction of lein-ancient-sp

[2016-08-22 08:13] xsc commented on #74
@kanwei Sorry for the delayed response. This is caused by version-clj's splitting of version strings by first `.`, then `-`:

[code]

The qualifier is expected to appear in the last element of the version vector but in this case doesn't. I'm not sure this can be fixed without breaking behaviour for versions like `"9.1-901-1.jdbc4"`, though, but feel free to open an issue at version-clj.

[2016-08-26 08:26] henriklundahl opened #76 "Add support for :managed-dependencies"
Leiningen 2.7.0 was just released and it includes support for adding a [:managed-dependencies vector](https://github.com/technomancy/leiningen/blob/stable/doc/MANAGED_DEPS.md) to project.clj. Please add support for upgrading the dependency versions in this vector.

[2016-12-22 00:29] robertkuhar commented on #55
I don't think its reasonable that this is now the default behavior.  Geez.  Now my builds fail for what is otherwise just an operational message; like logging.  Is there a way to option out of this behavior?

tcc-rkuhar:scouting-utils robert.kuhar$ lein do clean, deps, compile, test, ancient

lein test scouting-utils.core-test

Ran 1 tests containing 1 assertions.
0 failures, 0 errors.
(warn)  [cl

[2016-12-22 00:38] robertkuhar opened #77 "Add option to force exit code 0"
lein-ancient has always been more of an informational utility for us than something we wanted to fail a build.  By 0.6.10 it had gained the unpleasant default behavior of posting an ERRNO of non zero if it found something wrong with the dependencies.  To me this breaks backward compatibility.  I would like to see the default behavior restored and have this "fail the build if lien-ancient fails" be

[2016-12-22 09:11] donbonifacio commented on #55
Hey @robertkuhar ,

Can you split the `lein ancient` part in a new command? You can ignore the status code like this:

`lein ancient || true`

[2016-12-22 10:03] xsc commented on #77
@robertkuhar I do agree that this broke backwards-compatibility, albeit regarding a feature there never was an explicit contract for before the change. I apologise for the inconveniences you experienced.

That said, I think the current behaviour is the right one to offer by default. lein-ancient is a tool to check projects for outdated dependencies – the result of which might interest both humans

[2016-12-22 10:09] xsc commented on #55
[Linking Issue #77]

[2016-12-22 18:45] robertkuhar commented on #55
I can...good idea.  Thanks.

Bob

On Thu, Dec 22, 2016 at 1:11 AM, Pedro Pereira Santos <
notifications@github.com> wrote:

[2016-12-22 18:53] robertkuhar commented on #77
The example I gave was running it locally where I figured out what was
happening on lein-ancient 0.6.10 that wasn't happening in 0.5.5.  This
change in behavior actually hurts me on our build box where its now failing
some convoluted Jenkins job.  I was ranting on some other ticket here and a
suggestion was made to configure this like...

lein ancient || true

...which should work really well to w

[2017-05-01 07:09] rberger commented on #64
Looks like this is a problem again, now that s3-wagon-private >= 1.3.0 supports the AWS profiles. So no longer does s3-wagon-private require the setting of AWS Credentials in the profile.clj. It now properly  uses the ~/.aws/credentials.

Not having credentials in the profile.clj seems to break lein ancient. I get the dreaded
[code]

Any chance lein ancient could support the aws sdk standard of ge

[2017-05-01 09:42] xsc commented on #64
The main problem here is that [clj-aws-s3](https://github.com/weavejester/clj-aws-s3) requires a map of username/password/region as input to every S3 function. Now, that library is deprecated anyways, so switching to something else makes a lot of sense, in the course of which we could also get configuration right.

Possible candidates could be [amazonica][amazonica] and [clj-s3-client][clj-s3], bo

[2017-05-12 01:29] sattvik commented on #64
I have submitted https://github.com/xsc/ancient-clj/pull/8 which should be able to fully support s3-wagon-private.  If you would like to try it out, I have pushed `io.sattvik/lein-ancient 0.6.11` to Clojars.  It seems to work for me.

[2017-05-26 14:49] joekiller commented on #64
`io.sattvik/lein-ancient 0.6.11` fixed the `(error) Assert failed: (string? username)` problem for me.

[2017-06-02 08:43] nicorikken commented on #76
I worked around the issue by introducing a boot-clj wrapper project, which load the leiningen dependencies. Like https://github.com/ekroon/telehash-clj/blob/master/build.boot It would be better if the leiningen plugin supports `:managed-dependencies` though.

[2017-09-14 10:27] #74 closed

[2017-09-18 17:04] xsc commented on #76
__[Release 0.6.12](https://github.com/xsc/lein-ancient/releases/tag/clojars-0.6.12)__

[2017-09-18 17:04] #76 closed

[2017-09-18 17:04] xsc commented on #75
__[Release 0.6.12](https://github.com/xsc/lein-ancient/releases/tag/clojars-0.6.12)__

[2017-09-18 17:04] #75 closed

[2017-09-18 17:05] xsc commented on #64
__[Release 0.6.12](https://github.com/xsc/lein-ancient/releases/tag/clojars-0.6.12)__

[2017-09-18 17:05] #64 closed

[2017-10-18 15:15] tentamen opened #80 "lein-ancient is not compatible with lein 2.8.0 (latest release)"
As lein 2.8.0 remove clj-http and cheshire dependencies, so we got this exception when run `lein ancient`
[code]

[2017-10-19 08:21] xsc commented on #80
Ha, I can't even build it using Leiningen 2.8.0 (since another plugin we're using to isolate dependencies is no longer compatible, either).

Anyways, could you try the following?

[code]

[2017-10-19 08:24] ducky427 commented on #80
@xsc, version `0.6.13-SNAPSHOT` works for me. Thanks!

[2017-10-19 08:32] tentamen commented on #80
oh, current `0.6.13-SNAPSHOT` on master doesn't work for me, still got same issue with `clj-http` on Lein 2.8.0

[2017-10-19 08:35] ducky427 commented on #80
@tentamen, I downloaded the snapshot from clojars. Alternatively, could you try building from `fix/leiningen-2.8.0-compatibility` branch?

[2017-10-19 08:38] tentamen commented on #80
ah, `0.6.13-SNAPSHOT` on clojars works fine! :+1:

[2017-10-19 13:52] rborer commented on #80
I also confirm `0.6.13-SNAPSHOT` works fine for me :-)

[2017-10-19 16:33] pmonks commented on #80
Also confirming that `0.6.13-SNAPSHOT` works for me here, on both JDK 1.8.0_131-b11 and JDK 9+181.  Nice work!  👍

[2017-10-20 13:16] #80 closed

[2017-10-20 13:51] xsc commented on #80
__[Release Notes](https://github.com/xsc/lein-ancient/releases/tag/clojars-0.6.14)__

[2017-10-22 10:05] #77 closed

[2017-10-27 06:01] huahaiy opened #82 "Pinned com.amazonaws/aws-java-sdk-s3 is too ancient"
Make lein-ancient unusable on any project that uses aws-java-sdk-s3, which is plenty.

[2017-10-27 06:44] xsc commented on #82
@huahaiy Thanks for reporting this! Can you tell me what behaviour you're seeing, i.e. is there an exception thrown by lein-ancient or does Leiningen's dependency resolution complain? Or is it overwriting your project's dependencies?

[2017-10-27 07:24] huahaiy commented on #82
With lein-ancient in the ./lein/profiles.clj, it overwrites the project's dependencies on aws libraries, and code depends on that library would throw method not found exceptions, mainly due to the old jackson used in the old aws library:

e.g. run lein ancient

(warn)  [private] - Δ  810ms - failure when checking com.layerware/hugsql: java.lang.NoSuchMethodError: com.fasterxml.jackson.databind.Jav

[2017-10-27 08:27] xsc commented on #82
Just to be sure: Which Leiningen version are you using (`lein version`)?

[2017-10-27 19:28] huahaiy commented on #82
Leiningen 2.7.1 on Java 1.8.0_152 Java HotSpot(TM) 64-Bit Server VM

[2017-10-27 19:49] timgilbert commented on #82
I'm also seeing some kind AWS-related error with lein 2.8.0 / OS/X / Java 1.8.0_152, but unfortunately I can't be sure whether it's related to this. The error I see is

[code]

Possibly related, lein itself has some AWS dependencies which were updated in 2.8.0: https://github.com/technomancy/leiningen/issues/2215

[2017-10-28 09:24] ikitommi opened #83 "Report correctly on managed-dependencies"
When versions are defined via `:managed-dependencies`, the report doesn't shot the version. eg..

[code]

with `lein ancient` it prints:

[code]

and thanks for the awesome plugin!

[2017-11-16 00:36] cloojure opened #85 "Crashes with JDK 9"
Hi - Seems there is an incompatibility using JDK 9.
-------------------------------------
   Clojure 1.9.0-RC1    Java 9.0.1
-------------------------------------

[code]

It works with JDK 1.8

[2017-11-17 08:56] xsc commented on #85
@cloojure Thanks for reporting! Can you paste the full stacktrace? Also, did you see this exception when calling lein-ancient from the command line or when trying to work on the codebase?

[2017-11-17 16:31] cloojure commented on #85
with clojure 1.9.0-RC1:

~/tupelo > java --version
java 9.0.1
Java(TM) SE Runtime Environment (build 9.0.1+11)
Java HotSpot(TM) 64-Bit Server VM (build 9.0.1+11, mixed mode)
~/tupelo > lein --version
Leiningen 2.8.1 on Java 9.0.1 Java HotSpot(TM) 64-Bit Server VM
~/tupelo >
~/tupelo > lein ancient
clojure.lang.Compiler$CompilerException: java.lang.ClassNotFoundException: javax.xml.bind.DatatypeCon

[2017-11-17 18:42] ikitommi commented on #85
After updating to to lein 2.8.1 ancient fails.

[2017-11-17 19:14] cloojure commented on #85
It will work with lein 2.8.1 if I stay with JDK 1.8:

~/tupelo > lein --version
Leiningen 2.8.1 on Java 1.8.0_144 Java HotSpot(TM) 64-Bit Server VM
~/tupelo >
~/tupelo >
~/tupelo > ~/tupelo > lein test

lein test tst.tupelo._bootstrap

-----------------------------------------
   Clojure 1.9.0-RC1    Java 1.8.0_144
-----------------------------------------

lein test tst.tupelo.array

lein test ts

[2017-11-18 11:14] xsc commented on #85
@cloojure The way `ancient-clj` seems to be requiring `org.httpkit.client` indicates to me that there is an older version of ancient-clj in play, because that dependency was removed in 1a19e2bd. Could you paste the output of `lein deps :plugin-tree`? And explicitly state which version of lein-ancient you're using?

[2017-11-18 11:16] xsc opened #86 "Incompatibility with Leiningen 2.8.1"
Issue extracted from [here](https://github.com/xsc/lein-ancient/issues/85#issuecomment-345328394):

[2017-11-18 11:17] xsc commented on #85
@ikitommi Could you add some more information to the newly created issue (#86), i.e. what Java version, what version of lein-ancient, what exception, etc...?

[2017-11-18 11:49] ikitommi commented on #86
Hi, and sorry for the REALLY BAD description. After updating to lein 2.8.1, ancient failed but the after manually updating the version from `0.6.10` to `0.6.14` the problem got resolved.

[2017-11-18 11:50] ikitommi commented on #86
This can be closed. And thanks for the awesome plugin!

[2017-11-18 11:50] ikitommi commented on #85
Commented on the other issue. Works like a charm again.

[2017-11-18 11:53] xsc commented on #86
Good to hear this is resolved! This seems to have been an instance of #80 and the plugin upgrade would have been my next recommendation. :)

[2017-11-18 11:53] #86 closed

[2017-11-18 20:44] cloojure commented on #85
OK, I upgraded lein-ancient to 0.6.14 and everything is working fine now with JDK 9 and Clojure 1.9.0.

I noticed that all 5 of my plugins in   ~/.lein/profiles.clj  were out of date.  Would it be possible for lein-ancient to check these version numbers also?

Alan

[2017-11-19 11:26] xsc commented on #85
@cloojure I'm glad it's working for you now! To check/upgrade your profile dependencies and plugins you can always use:

[code]

And just in case you didn't know: `lein help ancient` shows you available subtasks and `lein help ancient <subtask>` displays further information (like command line flags).

[2017-11-19 11:26] #85 closed

[2017-11-21 17:51] phillipm opened #87 "Slingshot missing on leiningen `2.8.1`"
Hi,
I've upgraded to `ancient-clj 0.6.14` in my project and am able to run it fine with `leiningen 2.7.1`.

When I upgrade to `leiningen 2.8.1` I get the error pasted below.

If I remove the exclusion of [`slingshot` here](https://github.com/xsc/lein-ancient/blob/a57a3f4a456dace4734e4344d548bdc09ad5cabe/ancient-clj/project.clj#L17), then everything works fine. Shall I open a PR with that change, o

[2017-11-22 08:01] xsc commented on #87
@phillipm Thanks for reporting! Can you paste the output of `lein deps :plugin-tree` from the project that causes the above exception to be thrown?

The reason I'm asking is that, while `ancient-clj` excludes `slingshot` (it was an optional dependency for `clj-http`) `lein-ancient` does not, so for me the above command prints (using `Leiningen 2.8.1 on Java 1.8.0_131 Java HotSpot(TM) 64-Bit Server

[2017-11-22 08:59] phillipm commented on #87
I've pasted it below. Looking at the differences, aside from the fact that your dependency tree uses `lein-ancient` and mine `ancient-clj` is the fact that the `clj-http` version is different. I tried updating `ancient-clj` to use `clj-http 3.7.0` locally, and it fixed my issue with `slingshot`. Perhaps that is the way forward with this?

[code]

[2017-11-22 09:01] phillipm commented on #87
Actually, I spoke too soon. I accidentally used a local `ancient-clj` version where I removed the `slingshot` exclusion. Simply bumping `clj-http` while leaving in the exclusion doesn't fix this issue :(

[2017-11-22 11:41] xsc commented on #87
Ah, I misread `ancient-clj` as `lein-ancient`. Sorry for that!

So, I think my mistake here is that I thought that `slingshot` was an optional dependency. The tests are passing because `midje`, the testing framework, actually depends on `slingshot`. This is a bug!

If you explicitly include `[slingshot "0.12.2"]` in your plugin's dependency, it should work for now, I'll fix it in ancient-clj as qu

[2017-12-02 11:42] MrOerni opened #89 "lein ancient in ~/.lein to check profiles.clj"
It would be great if ancient worked in ~/.lein with existing profiles.clj

[2017-12-02 16:29] xsc commented on #89
@MrOerni Let me know if the README is not clear enough on this, but there are the subtasks `check-profiles` and `upgrade-profiles` that should do what you want.

Hope that helps!

[2017-12-03 11:21] xsc commented on #82
@huahaiy I could reproduce your issue but it doesn't seem to be lein-ancient's dependencies that causes these problems but Leiningen's. I tried the following `project.clj`, pointing at a nonsense S3 repository:

[code]

This is the output of `DEBUG=1 lein ancient` with Leiningen 2.7.1:

[code]

And this is the output with Leiningen 2.8.1:

[code]

From what I can see, the outdated Jackson library

[2017-12-04 23:31] MrOerni commented on #89
Oh... I should have read it more closely.

I just expected that `lein ancient` would work in `~/.lein`

[2017-12-04 23:31] #89 closed

[2017-12-14 12:27] #87 closed

[2017-12-15 16:57] eigenhombre opened #90 "Ancient `:exclude` does not work for Clojure itself"
consider this minimal `project.clj`:

    (defproject ancientclojure "0.1.0-SNAPSHOT"
      :plugins [[lein-ancient "0.6.15"]]
      :dependencies [[org.clojure/clojure "1.8.0" :upgrade :clo]])

We're used to excluding specific dependencies using the `:upgrade` tag in `project.clj`; however, this does not seem to work with Clojure itself (now that 1.9 is out):

    $ lein ancient :exclude clo

[2017-12-17 13:01] xsc commented on #90
@eigenhombre Thanks for reporting! You'll notice that the Clojure artifact won't influence lein-ancient's exit code, nor automatically be upgraded, unless `:check-clojure` is specified. But I agree, that this is kind of surprising behaviour, so it needs to be fixed.

I'll revamp the way artifact selection works for the 0.7.0 release of lein-ancient, throwing out all these `:plugins`, `:allow-snaps

[2017-12-26 17:21] bobbermac commented on #87
A heads-up, in case this is useful: using 0.6.15 did not fix this issue for me -- I'm still getting the slingshot not found error when attempting to use the `lein-ancient` plugin with lein 2.8.1.

I tried the following (unsuccessfully) to solve this:

1. Ran `lein with-profile +test deps :tree` and updated `:exclusions` and `:dependencies` until no more errors were displayed
1. Explicitly added `[

[2017-12-27 15:04] timgilbert commented on #82
Sorry for the late response! I eventually tracked my issue down to an issue with the `lein-essthree` plugin, which has since released a new version that fixed my issue.

[2017-12-28 11:36] hantuzun commented on #57
I had the same problem and "0.6.8-SNAPSHOT" fixes it.

[2017-12-28 12:20] xsc commented on #82
@timgilbert Good to hear that this has been resolved for you!

@huahaiy I'll close this issue since it doesn't seem to be caused by lein-ancient. Feel free to reopen if you think that's not true!

[2017-12-28 12:20] #82 closed

[2017-12-28 12:38] xsc commented on #87
@bobbermac Thank you for providing that much information on your problem! Unfortunately, the best way for me to investigate this would still be a minimal complete `project.clj` that illustrates the issue. Could you provide one?

However, there is one thing I can already comment on. The stacktrace you provided contains:

[code]

This means you're calling a version of lein-ancient that used `mrander

[2017-12-30 17:08] bobbermac commented on #87
Oh, wow -- good catch. Given the explicit versions in the `project.clj`, your observation indicates that there's something somewhere else overriding this ... and sure enough, I found an old `profiles.clj` file in my home dir.

Everything works like a charm, now -- thanks so much!

[2018-01-01 01:43] neverfox opened #91 "Warnings with Java 9, Clojure 1.9.0, and lein 2.8.1"
[code]

I do not get this warning with other lein commands, e.g. lein repl.

[2018-01-02 10:36] xsc commented on #91
@neverfox Thanks for reporting! I think the root cause is `clojure.data.xml` calling that method ([here](https://github.com/clojure/data.xml/blob/data.xml-0.0.8/src/main/clojure/clojure/data/xml.clj#L337)), as well as Clojure's reflection behaviour.

A quick fix could be switching to a different XML parsing library but I'd rather see this resolved in Clojure itself. [CLJ-2066](https://dev.clojure.

[2018-01-08 16:31] daveliepmann opened #92 "No install instructions in README"
Installation instructions seem to have been removed from the README as of 19ea1caa9cde651b70344f5e577c866e7c8995b0.

Perhaps the `lein help ancient` commands under "Usage" are intended to replace installation instructions, but they merely give me the message "Task: 'ancient' not found". (I'm on lein 2.8.1 if that matters.)

This would be best solved with the following text:

(I intentionally avoid

[2018-01-14 15:43] JustinSpedding opened #95 "Add an option to ignore newer major version"
For people who rely on packages that are semantically versioned, it would be nice to have an option to only upgrade to the newest version that does not have breaking changes. So, if we are using v2.2.1 and v3.0.0 becomes available, do not upgrade to it. Perhaps there could be an extra parameter called :semantic to enable this functionality, or maybe something else like :only-minor and :only-patch.

[2018-01-20 13:58] jdornieden opened #96 ""upgrade" breaks projects with mysql-connector"
My project has the following dependency to mysql/mysql-connector-java:
[code]
When executing `lein ancient` I get the following message:
[code]

The problem is that there is no version "8.0.8" of the mysql-connector but only "8.0.8-dmr" (s. https://mvnrepository.com/artifact/mysql/mysql-connector-java). So when executing `lein ancient upgrade` the dependency is changed to a non-existing version an

[2018-03-05 11:37] joelittlejohn opened #98 "Lots of java.lang.NoSuchMethodError warnings"
I haven't yet worked out why, but for some reason when I run `lein ancient` on my projects using lein-ancient 0.6.15 (Leiningen 2.8.1, Clojure 1.9.0 and Java 1.8.0_151), I see a lot of output like the following:

[code]

[2018-03-06 09:09] xsc commented on #98
@joelittlejohn Looks like there might be a conflicting version of the AWS SDK on your classpath. Can you paste your `profiles.clj` and the output of `lein deps :plugin-tree`?

[2018-03-06 09:30] #92 closed

[2018-03-06 09:42] joelittlejohn commented on #98
Hmm, there's something a little more going on here. When I use lein-ancient in my profiles.clj, I see the warnings. When I add it to my project directly (even when my profiles.clj is still intact) I don't see the warnings :thinking:

I'll do some more investigation and reopen this if I find any evidence that something needs to change in lein-ancient :slightly_smiling_face:

[2018-03-27 08:01] catinthetap opened #99 "re-matches assertion error with profiles section in project.clj"
I get the following error:

when I run` lein ancient`  against a **project.clj** with the following profiles section:
[code]

Running leiningen 2.7.1 on linux. When I remove :profiles from the map it works fine.
My **profiles.clj** file has this entry for the ancient plugin:
`[lein-ancient "0.6.14" :exclusions [org.clojure/tools.reader clj-time cheshire joda-time com.fasterxml.jackson.core/jackson

[2018-03-27 20:49] coreagile opened #100 "How do we make it work with s3-wagon-private?"
Using `[lein-ancient "0.6.15"]`

I am getting the following error when running `lein ancient` (deploy works fine):
`(error) Assert failed: (not (empty? path))`

When reversing the following diff (sensitive information elided):
[code]

[2018-05-30 20:19] cloojure opened #101 "Fail to detect out of date plugin"
The project.clj for reagent-forms has an out-of-date `lein-cljsbuild` "1.0.3" which lein-ancient didn't notice (current is "1.1.7").

[2018-06-21 15:15] magthe opened #102 "Is `lein-ancient` incapable of dealing with permanent redirects (301)?"
Lately I've been unable to enjoy `lein ancient` because I get a lot of the following

[code]

It's particularly troubling that this _warning_ completely prevents finding outdated dependencies :/

Is this something others have experienced too?

[2018-06-23 09:38] magthe commented on #102
This is probably caused by my use of `s3-wagon-private`, so I'm closing this.

[2018-06-23 09:38] #102 closed

[2018-07-05 09:36] Freezystem opened #103 "Ability to prevent dependencies from updating -> LOCK"
I don't know if this feature already exists as its not documented.

It could be a nice feature to prevent some dependencies from upgrading so they will not appear in interactive mode for example.

Maybe by adding a `:locked-dependencies` key to `project.clj` or something like that.

Regards!

[2018-07-05 22:41] eigenhombre commented on #100
A workaround is to change `"s3p://--elided--/"` to `"s3p://--elided--//"` (add extra trailing slash).

[2018-07-12 18:50] eigenhombre commented on #100
Or, even more horribly:
`lein update-in : assoc :repositories '[["private" {:url "s3p://...elided...//" :no-auth true :sign-releases false}]]' -- ancient :all :no-colors`

[2018-07-12 19:02] eigenhombre commented on #100
Or, even worse:
`lein update-in :repositories conj '["private" {:url "s3p://--elided--//" :no-auth true :sign-releases false}]]' -- ancient`

[2018-07-29 22:59] camdez commented on #103
Unless I misunderstand what you're looking for, this is already available (documented [here](https://github.com/xsc/lein-ancient#exclusionselection-of-artifacts)). Simply add `:upgrade false` to the dependency in your `:dependencies` list in `project.clj`.

e.g.

[code]

[2018-07-29 23:02] camdez commented on #101
@cloojure The default behavior with `lein ancient` is just to check for out-of-date dependencies (not plugins); are you seeing this behavior when you run `lein ancient :plugins` / `lein ancient :all`?

[2018-07-30 09:48] Freezystem commented on #103
Perfect! It's totally what I meant. Sorry I missed it.

[2018-07-30 09:48] #103 closed

[2018-10-11 17:49] pmonks opened #104 "Enhancement: check dependencies defined via tools.deps in addition to / instead of those in project.clj"
Over time I expect there will be reasonably widespread adoption of [tools.deps](https://github.com/clojure/tools.deps.alpha) for expressing a library's dependencies, as well as increasing use of Leiningen/tools.deps integrations (such as [`lein-tools-deps`](https://github.com/RickMoynihan/lein-tools-deps)) to minimise duplicated information.

It would be fantastic if `lein-ancient` was able to rea

[2018-11-01 11:17] slipset commented on #104
https://github.com/slipset/deps-ancient/ does this for `deps.edn` leveraging `ancient-clj`

[2019-01-06 22:20] lread commented on #91
Hi there, CLJ-2066 was resolved with Clojure 1.10 release.  Any advice on how to quash these warnings under OpenJDK 11?

[2019-02-06 23:03] danieltdt commented on #83
Any news about it?

[2019-02-27 00:10] cloojure commented on #101
Hi - Looks like I forgot about this thread....

I just noticed that `:all` was an available option, after having used lein-ancient for years and not being aware of it.

It seems that `:all` should be the default behavior.  I would have saved me lots of trouble with out-of-date plugins that I was unaware of.

[2019-02-27 00:11] cloojure commented on #101
I now have an alias that uses `:all` for both `check` and `check-profiles' in a single command.  Seems most people could use this as the default behavior.

[2019-03-02 23:30] glenjamin opened #107 "Support for versions defined via a var?"
I'm not sure how doable this will be, but I figured I'd post it anyway.

We have some libraries which are published as a bundle, and the consumer should use the same version of each of them (there are other modules also published in the the bundle, and different projects pick different subsets).

This is generally managed by using a var in the project.clj

[code]

However these get skipped over en

[2019-03-08 11:09] joelittlejohn commented on #98
Just in case anyone else finds this, in the end my problem was this plugin `[s3-wagon-private "1.2.0"]`. Upgrading to `[s3-wagon-private "1.3.1"]` causes an upgrade of aws-java-sdk-s3 and fixes these 'failure when checking' warnings.

See also #82

[2019-03-22 20:42] gfredericks opened #108 "Release date metadata?"
Is it technically feasible for ancient-clj to provide date metadata for releases?

This would allow me to implement something like:

which can be attractive because that can support an automated build that fails on stale versions, but not annoyingly often.

[2019-03-25 19:09] gfredericks opened #109 "Any good way to exclude weird versions?"
I ran into the fact that `org.clojure/tools.logging` has a `0.5.0-alpha.1` release that is not being recognized as "qualified", presumably because it has the uncommon `.` near the end.

This _could_ be "fixed" in `version-clj`, but I'm not sure it's a good idea, since it would be just adding special logic for a particular variant of arbitrarily weird release strings.

Is there some other feature t

[2019-03-27 16:12] gfredericks opened #110 "exit code not set for `upgrade` failure"
I think `lein ancient upgrade` should have non-zero exit code when the tests fail.

Currently what happens is that the test-failing code goes through `leiningen.core.main/exit` with the flag set causing that method to throw an exception rather than exit, and the exception gets printed somehow, and the process exits with exit code 0.

[2019-04-23 09:31] urzds opened #111 "Resolve aliases for test task recursively"
In `project.clj` I have:
[code]

Running `lein test` or `lein kaocha` both result in the tests being run (and completed successfully).  However, when I run `lein ancient upgrade :all :interactive :check-clojure`, I see:
[code]

It would be nice if lein-ancient could resolve aliases for the `test` task recursively, until it arrives at an actual task it can execute -- or use a different method to ex

[2019-07-23 13:50] gfredericks commented on #109
For the record, version `0.5.0` was just released, which solves that particular instance of the problem.

[2019-10-01 21:10] johnmcconnell opened #113 "lein ancient should warn if the version of the `lein-ancient` plugin is old"

[2019-12-23 08:43] j-cr commented on #91
Slightly different warnings (lein-ancient 0.6.15, clojure 1.10.*):

[code]

[2020-02-26 12:11] Rulqu opened #115 "Should support ":env" as repository password"
I have a project.clj set up using ":env" as the password like explained in https://github.com/technomancy/leiningen/blob/stable/doc/DEPLOY.md#credentials-in-the-environment

When using `export LEIN_PASSWORD=password && lein ancient` however, the plugin gets 401 error.

This plugin should support this way of inputting passwords.

[2020-04-01 02:00] awb99 commented on #83
yeah!! A fix for this would really help!

[2020-04-28 20:47] awb99 commented on #83
Is there anyone stil workinng on lein-ancient?
A fix for managed-dependenies to me is a pretty important feature. I know it is a new leiningen feature, so implementation will take a while. However, the reason to use lein-ancient is for BIG projects, where it is very difficult to manage dependencies. And such projects will use managed-dependencies sooner or later. THANKS!

[2020-04-28 20:59] xsc commented on #83
@awb99 I'm slowly finding time to get back into these projects. Since I have not been actively working on them for a few months, it might still take a bit until I've familiarized myself again.

Give me a bit of time - this doesn't look too hard to fix.

[2020-09-14 19:22] superstructor commented on #91
This appears to be fixed by upgrading `org.clojure/data.xml` in `ancient-clj/project.clj` to `0.2.0-alpha6` (latest available). @xsc

[2020-11-11 20:33] superstructor commented on #91
@xsc I've opened a pull request with the change. If you could please merge and release w/ associated upgrade of the ancient-clj version in the plugin's project.clj it would help clean up terminals everywhere!

[2020-11-19 15:17] lread commented on #91
@superstructor, [antq](https://github.com/liquidz/antq) is actively maintained and might be an interesting alternative for you to check out. I am happily using it for my tools deps projects.

[2020-12-21 11:26] #91 closed

[2020-12-23 20:03] xsc commented on #83
About 3 years too late, but I just pushed `[lein-ancient "0.7.0-SNAPSHOT"]` which should incorporate a fix for this. Could one of you reading this check it out? Thanks!

[2021-01-14 14:26] dancek commented on #83
@xsc `0.7.0-SNAPSHOT` fixed the issue for the parent project that has `:managed-dependencies`.

In a child project, however, all the dependencies are listed with version `""`. Child project meaning that the project.clj has
[code]

In any case, the current fix is very useful. :+1:

[2021-01-14 16:01] dcarley commented on #83
I forgot to report it, but experienced the same 👍

[2021-01-17 12:08] xsc commented on #83
I deployed another SNAPSHOT that might fix the issue with parent projects. (It now uses the project map that Leiningen provides to find managed dependencies, instead of collecting them from the file itself.)

[2021-01-18 10:22] dancek commented on #83
@xsc this new snapshot version shows `all artifacts are up-to-date.` for a child project even when some of the dependencies are out of date. The parent project has correct version listings.

[2021-01-18 11:49] xsc commented on #83
@dancek Right now, the plugin won't check dependencies of the parent project if run in a child project. Is that what you mean or are there actual outdated dependencies in the child project's `project.clj`?

[2021-01-18 14:38] dancek commented on #83
@xsc yeah, that's what I meant. I have all the dependency versions in the parent project. I.e. I use the parent project mostly to keep multiple child projects using the same dependency versions.

[2021-01-18 14:39] dancek commented on #83
In any case, I think the current version is good for release.

[2021-01-28 07:53] xsc opened #119 "Check dependencies that are not part of `project.clj`"
Issue #83 showed that it's possible to have versions defined outside of the `project.clj` file. There are multiple cases where this could happen:

- Using `lein-parent` to include e.g. `:managed-dependencies` or even `:dependencies`.
- Using other plugins/middlewares that add dependencies.
- Using syntax-quotes in `project.clj`, e.g. to include data from another file.
- ...

It won't be possible t

[2021-01-28 07:54] xsc commented on #83
Current fix released in `[lein-ancient "0.7.0"]`. Tracking the parent dependency topic in #119, please share your opinion there. :)

[2021-01-28 07:54] #83 closed

[2021-01-28 13:17] dancek commented on #119
If it's difficult to know where a dependency comes from, the current functionality seems to be the sane choice. Just my two cents. It's not difficult to run `lein ancient` in the parent directory, once you know that's needed.

[2021-02-13 15:37] xsc commented on #100
Hello! It has been a while, but recent changes to `ancient-clj` now allow usage of any Maven wagon for resolution. If you're still interested in this, could you verify the behaviour using `[lein-ancient "1.0.0-RC1"]`?

[2021-02-13 15:38] xsc commented on #115
Hello! It has been a while, but recent changes to `ancient-clj` now let us rely on the same resolution mechanism that Leiningen already uses. This should mean that repositories and their credentials should work as expected. If you're still interested in this, could you verify the behaviour using `[lein-ancient "1.0.0-RC1"]`?

[2021-02-13 15:39] xsc commented on #109
Hello! For the simple case, I was able to fix this in `version-clj` (but there are surely others that break it again). If you're still interested in this, could you verify the behaviour using `[lein-ancient "1.0.0-RC1"]`?

[2021-02-13 15:56] xsc commented on #70
Hey there! It has been quite some time, but with ancient-clj's recent changes we might be able to leverage Leiningen's existing resolution infrastructure. This _should_ include proxies. If you're still interested after five years, could you verify using `[lein-ancient "1.0.0-RC1"]`?

[2021-02-13 18:49] gfredericks commented on #109
This would be difficult to verify given the `0.5.0` release mentioned above, right?

I think we'd need a library to intentionally release an analogously weird version that otherwise looks like the latest.

It's also true that I'm not personally exposed to this issue anymore, but thanks for working on it.

[2021-02-15 10:35] tobiasadam0770 commented on #100
I had the exact same problem as described in this issue and updating to `"1.0.0-RC1"` worked for me. Thanks a lot for providing a fix! 🥇 🎉 😀

[2021-02-15 13:32] xsc commented on #109
I've found this one, as a treasure trove of weird versions:
https://mvnrepository.com/artifact/sh.ory.kratos/kratos-client

Unfortunately, as mentioned, my fix was only for subset of versions, and this artifact still causes problems:

[code]

We correctly have `0.5.4-alpha.1` marked as qualified, but `0.0.3-alpha.8+oryOS.15` is treated as a release version.

It seems to be a decision which version

[2021-02-17 19:10] xsc commented on #100
@tobiasadam0770 Thanks for reporting back! I'll close the issue then.

[2021-02-17 19:10] #100 closed

[2021-02-17 19:19] xsc commented on #96
Hm, this is a funny one. This behaviour still exists, even after switching from our custom resolution code to Leiningen's own Maven wiring. It seems that in the artifacts [`maven-metadata.xml`](https://repo1.maven.org/maven2/mysql/mysql-connector-java/maven-metadata.xml) there is indeed a version `8.0.8` (no `8.0.8-dmr`), which explains why a `VersionRangeRequest` would return it.

[code]

I think

[2021-02-17 19:19] #96 closed

[2021-02-17 19:41] xsc commented on #109
Version `1.0.0-RC3` gets it right now:

[code]

[2021-02-17 19:41] #109 closed

[2021-04-15 00:47] jackjliew opened #122 "Failed to run upgrade when private maven mirror is configured."
I'm using Nexus as a private maven mirror, but I can not use ancient to upgrade any packages after the mirror is configured.

`cat ~/.lein/profiles.clj`

`{:user {:mirrors {#".+"  "https://nexus.icc/repository/maven-public/"}
        :certificates ["/Users/jack/scripts/icc-cert/rootCA_cert.pem"]
        :plugins [[org.clojure/core.unify "0.5.7"]
                  [lein-ancient "0.7.0"]]}}
`

[clj-

[2021-04-15 13:18] xsc commented on #122
@jackjliew Thanks for reporting! Could you try `[lein-ancient "1.0.0-RC3"]`? The whole repository handling has been improved and your problem might already be solved in that version. :)

[2021-08-25 14:43] antonmos commented on #95
My use case is
`[org.eclipse.jetty/jetty-server "11.0.6"] is available but we use "9.4.43.v20210629"`
I cant upgrade because ring-adapter doenst support jetty 9+ - https://github.com/ring-clojure/ring/issues/439

[2021-10-19 09:35] nikolavojicic opened #123 "Unable to load library jansi on version 0.7.0"
When running `lein ancient` with version `0.7.0` I get this error:
[code]
With version `0.6.15` plugin works fine.

[2021-10-19 09:36] nikolavojicic commented on #123
I use `leiningen-2.9.7`.

[2021-10-21 10:08] xsc commented on #123
@nikolavojicic Thanks for the report!

So:
- Version `0.6.15` uses `[jansi-clj "0.1.0"]`
- Version `0.7.0` uses `[jansi-clj "0.1.1"]`.
- That leads to an upgrade of `org.fusesource.jansi/jansi` from `"1.11"` to `1.16"`.
- [There are no functional changes to the code](https://github.com/xsc/jansi-clj/compare/87f3c360bc21d2b25e6b923a0609ca8f8e4df265...d7f7ed8) between the `jansi-clj` versions.

This

[2021-10-22 01:58] nikolavojicic commented on #123
When running `(org.fusesource.jansi.AnsiConsole/systemInstall)` directly from the REPL, both `1.11` and `1.16` works.
Btw I'm on Windows 10, using the latest Clojure and JDK 16.

[2021-10-22 12:49] xsc commented on #123
Thanks for verifying. I'll update the underlying jansi library to the _actual_ latest version (`2.4.0`) and release a SNAPSHOT of lein-ancient for you to test. Only need to find the time!

[2021-10-28 14:16] xsc commented on #123
@nikolavojicic Could you try version `1.0.0-RC4-SNAPSHOT`?

Note: A lot has changed since `0.7.0` so I hope you're not running into any unrelated issues now. :/

[2021-10-28 14:51] nikolavojicic commented on #123
It works with that version :)

[2022-03-15 10:04] #123 closed, assigned to nobody

[2022-03-21 16:34] mat926 opened #125 "java.lang.AssertionError on 0.7.0"
When running` lein ancient` on version 0.7.0 I get this error:

[code]

[2022-03-22 14:26] xsc commented on #125
@leodoi3 Could you provide a minimal `project.clj` that causes the problem? And can you confirm that the issue still persists in the [latest Release Candidate](https://github.com/xsc/lein-ancient/releases/tag/v1.0.0-RC3)?

[2022-03-24 19:22] mat926 commented on #125
Here's a sample project.clj that causes the problem.
[code]
It also fails on 1.0.0-RC3 . But it works on 0.6.15.
Even if I remove the commented line , I will get this:
`[org.clojure/data.json ←[32m"2.4.0"←[m] is available but we use ←[33m"1.0.0"←[m`

[2022-03-25 14:02] xsc commented on #125
@leodoi3 Unfortunately, I cannot reproduce the issue. The above `project.clj` causes `lein ancient` to print exactly what it should print:

[code]

That really is the expected output ☝️. From you comment, it seems like you were expecting something else, though?

Can you share the output of `lein deps :plugin-tree`? It might be that there are some conflicting dependencies somewhere, and you're actu

[2022-04-06 20:09] mat926 commented on #125
Sorry for the late reply. I'm not sure how ```[org.clojure/data.json ←[32m"2.4.0"←[m] is available but we use ←[33m"1.0.0"←[m``` would be the same as ```[org.clojure/data.json "2.4.0"] is available but we use "1.0.0"``` . But I ran that command using that sample project.clj and here's the output:
[code]

Here's the output from the project.clj that's causing the exception.
[code]

[2022-04-07 08:46] xsc commented on #125
Thanks for the output! Unfortunately, everything looks fine. The error seems to indicate that rewrite-clj (the library used for reading/writing Clojure code) gets confused when handling newline characters. I can't really see where it could even go wrong in the code, but maybe your file format/encoding is the problem.

What OS are you using? Could you upload an actual failing file (e.g. the sample

[2022-05-28 05:00] eu400000 commented on #123
Just to confirm, I had the same issue with 1.0.0-RC3, using RC4-SNAPSHOT also fixes it for me.

(on Win 10, Java 18, Clojure 1.10.3)

[2022-07-07 19:28] antonmos commented on #95
FYI, Jetty 9.x Community support ended on 6/1/22, but security updates will continue probably until 2025.  See more at https://github.com/eclipse/jetty.project/issues/7958

[2022-08-01 17:05] fuadsaud opened #126 "False positive on Kaocha"
### Steps to reproduce

Minimal `project.clj`:

[code]

[code]

### Expected output

[code]

### Actual output

[code]

### Notes

This issue on [version-clj](https://github.com/xsc/version-clj/issues/12) appears to refer to the same problem. Indeed I was not able to reproduce this using the latest version of `version-clj` (2.0.2), which is the one that `lein-ancient` 1.0.0-RC3 appears to be using

[2022-10-05 13:41] LouDnl commented on #125
After experiencing the same issue mentioned in #123 on 0.7.0 and on 1.0.0-RC3 I tried 1.0.0-RC4-SNAPSHOT and ran the same issue as OP. Changing line endings from CRLF to LF in VSCode fixed this issue for me.
![image](https://user-images.githubusercontent.com/8543038/194074929-b3bd72d0-1e93-48dd-94dc-00a0fbe2f358.png)